@charset "utf-8";

body {
  margin: 0;
  padding: 0;
  font-family: 'Reggae One', cursive;
  background-image: url(../img/fire.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.choose_box {
  position: relative;
  width: 100%;
}

.choose_box p {
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 50px;
  display: block;
  font-weight: 600;
  text-align: center;
  color: #fff;
}

.choose_box li {
  display: inline-block;
  width: 85%;
  margin-top: 30px;
  list-style: none;
}

ul {
  margin-left: 10%;
  padding-left: 0;
}

.choose_box ul li a {
  width: 100%;
  color: #fff;
  display: block;
  padding: 20px 20px;
  text-align: center;
  background-color: red;
  font-weight: 600;
  font-size: 16px;
  border: 2px solid red;
  text-decoration: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.choose_box ul li a:hover {
  background-color: #fff;
  color: red;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}

.app-theme p {
  color: red;
  margin-bottom: 5%;
  margin-top: 5%;
  text-shadow: 1px 1px #fff;
}

.fit {
  position: absolute;
  left: 0px;
  top: 40px;
  width: 100%;
}

.fit p {
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 18px;
  display: block;
  font-weight: 600;
  text-align: center;
  color: #fff;
}

.result_type0 h4 {
  width: 50%;
  margin: auto;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  background-color: #10c010;
}

.result_type1 h4 {
  width: 50%;
  margin: auto;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  background-color: red;
}

.result_type2 h4 {
  width: 50%;
  margin: auto;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  background-color: orange;
}

.result_theme p {
  margin-top: 5%;
  margin-bottom: 2%;
  text-align: center;
  font-size: 15px;
  color: #fff;
}

.result_discription0 {
  text-align: center;
  margin-bottom: 8%;
}

.result_discription1 {
  text-align: center;
  margin-bottom: 8%;
}

.result_discription2 {
  text-align: center;
  margin-bottom: 8%;
}

.result_discription0 h2 {
  color: #10c010;
  text-align: center;
  text-shadow: 0.5px 0.5px #fff;
}

.result_discription1 h2 {
  color: #DC143C;
  text-align: center;
  text-shadow: 0.5px 0.5px #fff;
}

.result_discription2 h2 {
  color: orange;
  text-align: center;
  text-shadow: 0.5px 0.5px #fff;
}

.result_discription0 p {
  font-family: "游ゴシック体", YuGothic;
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  padding: 20px;
  text-align: center;
  border: 1px solid #10c010;
  color: black;
  font-size: 16px;
  line-height: 35px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.65);
}

.result_discription1 p {
  font-family: "游ゴシック体", YuGothic;
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  padding: 20px;
  text-align: center;
  border: 1px solid #DC143C;
  color: black;
  font-size: 16px;
  line-height: 35px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.65);
}

.result_discription2 p {
  font-family: "游ゴシック体", YuGothic;
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  padding: 20px;
  text-align: center;
  border: 1px solid orange;
  color: black;
  font-size: 16px;
  line-height: 35px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.65);
}

.return-btn {
  margin-top: 5%;
  margin-left: 35%;
  margin-right: 35%;
  width: 30%;
  margin-bottom: 100px;
}

.return {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: red;
  width: 100%;
  padding: 20px 20px;
  border: 1px solid red;
}

.return:hover {
  border: 1px solid red;
  background-color: #fff;
  color: red;
  transition: 0.5s;
}